numpy==1.25.2
scikit-image~=0.21.0
scipy~=1.11.2
opencv-python~=4.8.0.76

matplotlib~=3.7.2
future~=0.18.3
Pillow~=10.0.0
pip~=23.2.1
setuptools~=65.5.0
pytz~=2023.3
imageio~=2.31.2
tifffile~=2023.8.30
networkx~=3.1
packaging~=23.1
six~=1.16.0
python-dateutil~=2.8.2
pandas~=2.0.1
contourpy~=1.1.0
fonttools~=4.42.1
pyparsing~=3.0.9
cycler~=0.11.0
kiwisolver~=1.4.5
